.navbar-toggle .icon-bar {
  background-color: grey;
}

.navbar-nav li a{
  text-align: center;
}

h1 {
  margin-top: 65px!important;
}

section {
  margin-top: 25px;
}

section .container-fluid {
  background-color: #97b5e5;
}
